[2016-02-21 09:58] sungwoncho opened #1 "destroy command"
work in progress

[2016-02-21 09:58] sungwoncho opened #2 "generate module"
Work in progress

[2016-02-21 10:04] sungwoncho opened #3 "Can only run CLI when on app root"
CLI assumes that you are on the app root directory.

## possible solutions

* `~/.mantrarc` file to keep paths to all apps generated by CLI. Add command to register/deregister apps
* Make users set env variable `MANTRA_ROOT` before using CLI. Maybe add a command to do so.
* Walk up the directory until it finds `.meteor` directory and execute command

Suggestions welcomed.

[2016-02-21 14:30] arunoda commented on #2
This is what I just came to add :)

[2016-02-21 14:33] arunoda opened #4 "Short commands"
It's great if we can do this as well:

[code]

[code]

[2016-02-21 14:34] arunoda opened #5 "Move to mantrajs org"
If you like, you can do it now.
With that, we could more visibility and help.

[2016-02-21 15:02] JackAdams commented on #3
I like the walk up the directory idea.  Then as long as you're somewhere in a Meteor project it just works, with zero extra config.

[2016-02-21 19:01] dubvfan87 opened #6 "File not found with mantra create myapp"
Using nodejs 5.4.1 on OSX

[code]

[2016-02-21 23:34] sungwoncho commented on #4
We have aliases but they are not documented yet. (e.g. https://github.com/sungwoncho/mantra-cli/blob/master/lib/cli.js#L10) Will close this when we improve documentation.

[2016-02-21 23:40] sungwoncho commented on #5
:+1:

[2016-02-21 23:40] #5 closed

[2016-02-22 00:13] sungwoncho commented on #6
npm was ignoring a template directory. Fixed on 0.2.1.

[2016-02-22 00:13] #6 closed

[2016-02-22 02:08] arunoda commented on #5
Superb. Would you mind adding me to the NPM as well.

[2016-02-22 02:08] arunoda commented on #4
Okay. Cool.

[2016-02-22 10:27] sungwoncho commented on #5
Added.

[2016-02-22 14:08] aadrian opened #7 "Scaffolding?"
Hi,

Any plans adding scaffolding support?

Thank you.

[2016-02-22 14:58] aadrian opened #8 "Version option should also show the Meteor version."
The `--version` option should also display the supported/used Meteor version. Right now this seems to be `1.3-beta.11`.

[2016-02-23 03:57] sungwoncho opened #9 "Sanitize template variable"
mantra g component foo:header.menu

Results in:

[code]

Note `Header.Menu` on line 3.

*Related*

    mantra g component foo:header_menu

Results in:

[code]

[2016-02-23 08:33] arunoda commented on #9
@sungwoncho It's better to throw an error here if there is a dot.
- We need to use camelcase for variable/class naming.
- We can use underscore for file names.

So, following command,

[code]

will generate two the file as:

[code]

And the component will be:

[code]

[2016-02-23 12:15] arunoda opened #11 "Use stateless components or ES2015 classes"
Here we use `React.createClass`  which is not recommended these days. (But not wrong)
So, we need to create React classes either as stateless components or ES2015 classes extending `React.Component`.

Stateless components should be the default. But we need to have a way to create the ES2015 classes version as well.

[2016-02-23 12:21] arunoda opened #12 "Create some unit tests"
We need to create some unit tests.
For that, write tests close to the source with a directory called `__tests__`.
For an example, see: https://github.com/kadirahq/npm-base

[2016-02-23 17:45] awatson1978 opened #13 "Cannot find module '../dist/cli'"
A new user who doesn't know anything about Mantra gets the following error when running ``mantra create foo`` for the first time:

[code]

[2016-02-23 23:53] sungwoncho commented on #13
Can you provide versions of OS, node, and mantra-cli you are using? Also, did `npm install` give you any error?

[2016-02-23 23:53] #4 closed

[2016-02-24 00:14] sungwoncho opened #14 "Insert comma when adding to export block"
Given:

*libs/index.js*
[code]

the following command

    mantra g collections bar

changes the file into:

[code]

Also note that `bar` must be capitalized to follow the convention.

[2016-02-24 01:27] sungwoncho opened #15 "`mantra create` should throw if already inside a Meteor project"

[2016-02-24 02:07] arunoda commented on #5
Thanks.

[2016-02-24 03:48] adrianliaw opened #17 "Remove undefined when using `mantra generate collection`"
The initial `lib/collections/index.js` looks like this:
[code]
So, after running `mantra generate collection posts`, it did add `posts` to the export object, but `undefined` was still there:
[code]
We need a way to remove that `undefined` when generating the first collection.

[2016-02-26 10:28] sungwoncho commented on #14
Fixed at 95c86d789ef97533fd92ef9d0d84d54b27321389, d1803dc26fa4bf4e5feb47d1a318b3e182aa324c

[2016-02-26 10:28] #14 closed

[2016-02-26 11:34] sungwoncho commented on #11
Implemented by https://github.com/mantrajs/mantra-cli/commit/85864f138dd41f78d0413183e60b9b7cce98b713

Added `-k (--klass)` option for `mantra generate` to extend `React.Component` rather than using stateless component. What do you think about the naming of the option?

[2016-02-26 13:28] arunoda commented on #11
How about using --use-class as the option. May be 'uc' as the short option

[2016-02-26 22:06] sungwoncho commented on #11
Sounds good to me.

[2016-02-26 22:19] arunoda commented on #11
cool.

[2016-02-26 22:36] #15 closed

[2016-02-26 23:32] sungwoncho commented on #17
`undefined` is there because of a babel issue see https://github.com/meteor/meteor/issues/6281. It will be removed when the issue is resolved. Therefore it is not a high priority. You can still do a PR.

[2016-02-26 23:34] sungwoncho commented on #7
What sort of implementation are you thinking?

[2016-02-27 09:39] aadrian commented on #7
Right now the tool only generates, "almost empty"  files for most cases.
It would be even more helpful if it could fill in where it's possible, or where the user has the information, in form of model fields, values in the DB, etc.

[2016-02-27 12:02] PolGuixe opened #20 "Differences between the CLI and the Atom Package"
Which are the differences with the [Mantra Atom Package](https://github.com/mantrajs/mantrajs-atom-package). So far they look very similar in functionality. Are they aligned somehow?

[2016-02-27 21:40] sungwoncho commented on #1
Added on v0.3.0.

[2016-02-27 21:40] #1 closed

[2016-02-27 21:40] sungwoncho commented on #2
Added on [v0.3.0](https://github.com/mantrajs/mantra-cli/releases/tag/v0.3.0).

[2016-02-27 21:40] #2 closed

[2016-02-27 21:40] sungwoncho commented on #9
Fixed on [v0.3.0](https://github.com/mantrajs/mantra-cli/releases/tag/v0.3.0).

[2016-02-27 21:40] #9 closed

[2016-02-27 21:40] sungwoncho commented on #11
Fixed on [v0.3.0](https://github.com/mantrajs/mantra-cli/releases/tag/v0.3.0).

[2016-02-27 21:40] #11 closed

[2016-02-27 21:56] sungwoncho commented on #8
There also should be a way to see the currently supported Mantra spec version

[2016-02-28 14:10] mbabauer opened #21 ""TypeError: undefined is not a function" when creating new project"
I installed the latest mantra-cli via npm, and when I try to create a new project I get the following:

[code]

Specs are as follows:

- OS X vers. 10.11.2
- npm vers. 1.4.21
- Node vers. 0.10.30
- Mantra CLI vers. 0.3.0 (according to npm view)

I should also say that I installed Mantra CLI as root, as it gave errors when I tried to install it as my normal user.  Also, I am using zsh, which I only

[2016-02-28 23:45] sungwoncho commented on #21
In node v0.10.x, `child_process.execSync` is not available. That is why we get `undefined is not a function`. It was added in v0.12.0 ([see here](https://nodejs.org/en/blog/release/v0.12.0/)). I will welcome a PR or a suggestion for backward compatibility.

For the installation issue, I think you need to check that the normal user has permission to write at the directory that npm is installing the

[2016-02-29 00:20] sungwoncho opened #22 "Generate entity in a nested path"
Currently

[code]

generates:

[code]

It should generate

[code]

@arunoda Do we support such nested components in Mantra?

[2016-02-29 09:34] arunoda opened #23 "Do we need collections 2 by default?"
I saw we are using collections2 by default. Do we need it by default?

[2016-02-29 09:41] arunoda commented on #22
No we don't support it for now.

[2016-02-29 09:42] arunoda commented on #20
Not yet. But it'll be in near future.

[2016-02-29 23:38] sungwoncho commented on #23
We don't _need_ it. But then again, the CLI also uses things such as FlowRouter and ReactiveDict by default. I think we can have a sensible default, and allow users to specify options to overwrite the default.

i.e. `mantra create myApp --router=flow-router --localstate=reactive-dict --schema=collection2`

Having said that, I think Collection2 is used widely enough to be included as a default. I a

[2016-03-01 00:34] sungwoncho commented on #21
Fixed in 0.3.1. See https://github.com/mantrajs/mantra-cli/pull/18

[2016-03-01 00:34] #21 closed

[2016-03-01 02:20] arunoda commented on #23
I think we must have FlowRouter since it's the core routing tool.

But I suggest to add Collection2 as an add on or later.

[2016-03-01 23:37] sungwoncho commented on #23
Yeah. Since Collection2 is not a core tool, let's exclude it from default and add an option to include it. In the near future we will have to revisit other components such as reactive-dict to decide if we need to include them by default.

[2016-03-02 12:09] arunoda commented on #23
Oh wait. We need  reactive-dict  as well to support LocalState. I think it's better to say what's in our sample-blog-app as the defaults.

See: https://github.com/mantrajs/mantra-sample-blog-app

[2016-03-02 20:45] croogie opened #24 "Create test file for generated component file"
It would be great to generate with `component` file also empty `test` file.
Maybe putting there one assertion which will fail by default force to think about tests.
How about that?

[2016-03-02 22:06] adamdawkins opened #25 "Generate unit tests"
Can we have the cli generate associated test files too? It's probably one of the files with the most setup.

We could generate the outer `describe` and add a pending test that would be picked up.

As a side, is there a reason all test-related features have been left out of the CLI scaffolds? If it's a key component of the Mantra spec, shouldn't the CLI also generate these files?

[2016-03-02 22:36] sungwoncho commented on #24
Let's discuss in #25 as we need test not only for component but also for actions, and containers.

[2016-03-02 22:36] #24 closed

[2016-03-02 22:43] sungwoncho commented on #25
There is no good reason test is left out of the CLI; it simply hasn't been implemented yet.

I like the idea of generating a pending test. I made a new branch [test](https://github.com/mantrajs/mantra-cli/tree/test). Let's start on that branch. PR is welcomed.

We will need to modify the `create` command and the generators for 'actions', 'containers,' and 'components.' Also we need to add a way to

[2016-03-03 14:26] adamdawkins commented on #25
@sungwoncho Great, I'll try and find some time to help out with this soon

[2016-03-04 17:17] roberto68 opened #26 "problems with module creation (fs module failed somewhat)"
Os I tried to create a module named gallery but this is the output.
`$ mantra g module gallery
  create  client/modules/gallery/
  create  client/modules/gallery/components/
  create  client/modules/gallery/containers/
  create  client/modules/gallery/configs/
  create  client/modules/gallery/actions/index.js
  create  client/modules/gallery/index.js
  create  client/modules/gallery/routes.jsx
fs.

[2016-03-04 22:00] sungwoncho commented on #26
I think the reason is either that:
1. You are not in the app root directory (see [here](https://github.com/mantrajs/mantra-cli#documentation))
2. There is no `./client/main.js`

If so, it is not a bug from CLI. However, if you think it is a bug, please provide your node version and CLI version.

[2016-03-04 22:00] sungwoncho commented on #13
@awatson1978 Can you provide more details?

[2016-03-04 22:07] awatson1978 commented on #13
Sorry, caught up with lots of work.  Using Mac OS, node `v4.1.0`, and presumably the latest version of mantra-cli.  `npm install` gave no errors, as I recall.

[2016-03-05 02:07] sungwoncho commented on #23
Fixed in [v0.3.2](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#032-march-5-2016).

[2016-03-05 02:07] #23 closed

[2016-03-06 00:47] Mindgames opened #27 "0.3.2 Issue => $mantra create = Halt on init"
After updating to 0.3.2 `mantra create` is not working as expected.

    $mantra c myapp
    $create  myapp/
    $invoke  init

And then it halts creating just 2 empty folders "myapp" & "test"

Downgraded to 0.3.1 make it work as expected

[2016-03-06 01:38] sungwoncho commented on #27
This is not likely an issue with 0.3.2 as I could not reproduce. If any of [these](https://github.com/mantrajs/mantra-cli/blob/master/lib/commands/create.js#L17-L22) fails, the invoke script will halt and exit because we are doing [this](https://github.com/mantrajs/mantra-cli/blob/master/lib/commands/create.js#L16).

For instance, if meteor is not installed, [this line](https://github.com/mantrajs

[2016-03-07 21:57] #20 closed

[2016-03-08 23:13] sungwoncho commented on #9
@arunoda i found that Mantra spec still uses file names with dots in them. For instance, see [here](https://kadirahq.github.io/mantra/#sec-components). Is this outdated? Happy to submit a PR.

[2016-03-09 03:53] arunoda commented on #9
It seems like it's outdated. Yeah. send me a PR :)

[2016-03-11 08:39] mayankchhabra opened #30 "EISDIR error on mantra create"
When I try to create a new mantra project, it throws the following error
`$ mantra create`
`create  undefined/`
`invoke  init`
`toEnd: could not append to file (code EISDIR): .meteor/packages`

[2016-03-11 08:53] sungwoncho commented on #30
That is an incorrect usage of CLI. You need to supply the path to your new app.

Please see the [README](https://github.com/mantrajs/mantra-cli#mantra-create-path). We should probably output a friendly error in this case. PR welcomed.

[2016-03-11 09:18] mayankchhabra commented on #30
Whoops, missed that. Thank you, it works now!

[2016-03-11 09:41] mayankchhabra commented on #30
Made a PR!

[2016-03-11 21:30] Nuffx opened #32 "Browserify error on startup"
I'm getting this error thrown after a clean `mantra create sampleapp` and running `meteor` inside of it.

[code]

This just only started happening after the latest CLI update

[2016-03-11 22:22] sungwoncho commented on #32
We upgraded Meteor to 1.3-beta.16 on 0.3.4 ([see release note](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#034-march-11-2016)), and there is an issue with this Meteor version.

See https://github.com/meteor/meteor/issues/6449 for more info and a way to resolve this

[2016-03-12 07:48] sungwoncho commented on #30
Thanks for the PR. Closing this.

[2016-03-12 07:48] #30 closed

[2016-03-12 22:21] sungwoncho opened #33 "main.html and main.css in /client"
After running `mantra create [appPath]`, `main.html` and `main.css` is created in `/client` by Meteor. They should not be there.

[2016-03-13 04:18] merlinpatt opened #34 "mantra create should download Meteor if not found"
I just installed mantra-cli and tried to create a project. The directory was created but nothing else happened. I realized it was because I didn't have Meteor installed. It'd be great if Mantra either downloaded Meteor for you, or if it notified you that Meteor was not installed.

[2016-03-13 15:54] sakulstra opened #35 "mantra create doesn't create anything or show any logs :/"
Seems a bit like #34, but I have meteor installed, so this can't be the problem :/
When running "mentra create test" the console promts:
[code]
and nothing happens any more.
The folders remain empty...

I'm Running:
➜ npm -v
3.7.3
➜  node -v
v5.8.0
If this matters.

Regards and thanks for your help,
lukas

[2016-03-13 16:04] sakulstra commented on #35
damn sry never mind... it just needed a long time due to the 1.3 beta download.
Perhaps one could have some indicator, that the process is still doing sth or just don't make it silent ;)
Regards,
Lukas

[2016-03-13 16:04] #35 closed

[2016-03-14 02:48] sungwoncho commented on #35
Right now the STDOUT from scripts is silenced. I think we could have a verbose mode.

[code]

I think this is quite simple to implement. We need to add a option in `cli.js` and make `{slient: false}` conditional for shelljs in `create.js`. Would you like to do a PR?

[2016-03-14 11:16] sakulstra commented on #35
I could but someone else was faster #36

[2016-03-14 11:19] sakulstra opened #37 ".eslint"
I think it would be nice to add the .eslint file provided by mantra kickstarter and blog applications.

[2016-03-14 19:24] DennisKo commented on #32
I am getting something similiar.

[code]

The solutions in [meteor/meteor#6449 ](https://github.com/meteor/meteor/issues/6449) doesnt work for me. I installed the packages locally but cant find the line in flow-router's package.js.

[2016-03-14 19:29] hmeissner commented on #32
In my case installing flow-router alone locally did fix the issue. What exactly are you doing?

[2016-03-14 19:43] fermuch opened #38 "`mantra generate method` error"
If I use `mantra generate method approveDevice`, it shows the following:

[code]

which is OK, but it appends to `server/methods/index.js` this:

[code]

And since the file is being written with lodashes, the import should also use the same structure.

[2016-03-14 20:02] DennisKo commented on #32
I tried:

[code]

Where can I even find [this](https://github.com/kadirahq/flow-router/blob/02adb1fbbdd3eb5d9c03464c5ea4646035882e44/package.js#L65) proposed changed file?

[2016-03-14 20:10] hmeissner commented on #32
What I propose you do, and what worked for me, is just cloning flow-router repo into your project's `/packages` folder. You won't have to mess around with editing package.js nor adding browserify in this manner (flow-router depends on it now so it's there anyways).

[2016-03-14 22:11] sungwoncho commented on #38
I recently fixed it in https://github.com/mantrajs/mantra-cli/commit/9dc97fa494a0b5a867f059ec350ed2d83b0c6461. Will release the patch soon along with other fixes.

[2016-03-14 22:14] sungwoncho commented on #37
That's fair. It'd be good to allow users to opt for jshint or jslint. Why do you think eslint would make a sensible default?

[2016-03-14 22:15] fermuch commented on #38
Nice. Didn't know about `_.snakeCase`

[2016-03-14 22:15] #38 closed

[2016-03-14 22:42] sakulstra commented on #37
I think eslint is a good default as mantra and meteor 1.3 is all about es6, but I'm not strongly opinionated - never used one of the other ones.
For now my workflow would be:

[code]

Copy a .eslintrc and .editorconfig file from one of the mantra projects e.g. https://github.com/mantrajs/meteor-mantra-kickstarter/blob/v0.2.1/.eslintrc

---

Which is not that big of a deal, but I think baking this

[2016-03-15 06:20] sungwoncho commented on #35
Implemented by https://github.com/mantrajs/mantra-cli/commit/055441636a8479114a1d16abfde9ca8c27440e6d.

[2016-03-15 06:25] sungwoncho commented on #34
Thanks for the suggestion. I think downloading Meteor is the out of the scope of Mantra CLI. Also, it will be tricky to support Windows.

It'd be good if we can output errors back to the user instead of halting silently. I can't think of a good way to do this. But now we have a verbose mode ([doc](https://github.com/mantrajs/mantra-cli#mantra-create-path)), so that people can debug what is going o

[2016-03-15 06:25] #34 closed

[2016-03-15 06:51] #33 closed

[2016-03-15 07:01] sungwoncho commented on #38
Actually, the fix was something else. See the above commit.

[2016-03-15 07:12] sungwoncho commented on #37
Included in [v0.3.5](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#035-march-15-2016).

[2016-03-15 07:12] #37 closed

[2016-03-15 07:13] sungwoncho commented on #27
Please use the latest version ([v0.3.5](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#035-march-15-2016) at the moment) and use `--verbose` option for `mantra create` to debug. Closing for now as no information is available.

[2016-03-15 07:13] #27 closed

[2016-03-15 07:14] sungwoncho commented on #13
Can you upgrade to the latest version [v0.3.5](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#035-march-15-2016) and check if this problem persists?

[2016-03-15 17:57] awatson1978 commented on #13
Unfortunately, not.  We're still on `Meteor@1.1.0.3` until this summer, because of our QA program.  Looks like we're going to need to skip Matra CLI for the time being.  Good luck.

[2016-03-15 17:57] #13 closed

[2016-03-15 23:13] PolGuixe commented on #32
I just changed meteor version to beta12. I think it is a stable-ish version.
`meteor update --release 1.3-beta.12`

[2016-03-15 23:18] PolGuixe opened #39 "npm package.json typo"
There is a `,` on the last dependency:

[code]

That doesn't allow npm to parse the json properly.

[2016-03-16 11:23] DennisKo commented on #32
@Nuffx solution worked for me but  I ran into further problems with the Meteor beta on my windows machine. Got it all working on Linux now.

[2016-03-16 21:58] #39 closed

[2016-03-16 21:58] sungwoncho commented on #39
Fix is in `master`. Will be released in v0.3.6.

[2016-03-16 23:33] sungwoncho opened #40 "simpleSchema is imported by default"
`mantra generate collection` command generates a collection file with the line

    import {SimpleSchema} from 'meteor/aldeed:simple-schema';

even though user has not specified `-s collection` flag.

[2016-03-16 23:34] sungwoncho opened #41 "Destroy command does not remove lines from index.js"
Reproduce:

`mantra g collection users`
`mantra d collection users`

The following lines is not deleted from index.js:

    import Users from './users';
    ...
    Users

[2016-03-17 12:17] cstrat commented on #32
I have been able to fix the issue by downgrading to beta12, and then back to rc2.

The bug only seems to happen for me when I run `meteor reset`.

As long as I downgrade and upgrade after resetting it is fine.

[2016-03-17 20:16] AndreyAntipov opened #42 "Mantra create -- nothing is happen"
Hello

Faced with problem when trying to create a new mantra project

Nothing is happen. No log output is appear with verbose too

[code]
Just infinite process

_Node and meteor ver._
[code]

Is it possible to create a new empty meteor project (version 1.2 branch) and then update it to 1.3 branch manually and then recreate structure by mantra?
[code]

smth. like ```mantra create .``` in root of me

[2016-03-18 00:35] sungwoncho opened #43 "Should it generate publication when generating collection?"
Should

    mantra g collection foo

generate both a collection and a publication?

Feedback welcomed.

[2016-03-19 17:12] merlinstardust commented on #42
I've run into a similar issue. It doesn't happen every time I run it, but it happens often enough that's it an issue. I wish it was more reproducible.

It just hangs after logging `invoke init`.

Versions

[code]

Since no output from `meteor create` is being generated, it must be hanging on these lines

[code]

I haven't used shelljs before so I don't know what the issue could be.

[2016-03-19 17:21] itsdillon commented on #42
I'm getting the same issue. Stuck at the invoke init.

I tried creating a directory using "meteor create --release 1.3-beta.11" then ran "mantra create ." in the root but still nothing is happening.

[2016-03-19 18:08] merlinpatt opened #44 "Republish with comma fix"
Can you republish the package to include the comma fix?

It's a bit annoying right now to run `mantra create`, wait for it finish, fail on `npm install`, delete the comma, and then re-run `npm install`

[2016-03-19 18:33] andreyantipov commented on #42
@merlinpatt, @dillonraphael As i understand, `mantra create [path]` can't rebuild version of current project. Perhaps this way it's better for mantra (for better compatibility) but if you didn't have (in this case 1.3-rc.1) specific release you need wait until it be downloaded and installed. And if you have slow internet connection like me, it can be very long, i installed Meteor 1.3-rc.1 manually

[2016-03-19 18:37] itsdillon commented on #42
@AndreyAntipov Was an experiment to see if it would get around the issue. Regardless running "mantra create [path] just gets stuck on the init.

[2016-03-19 18:43] andreyantipov commented on #42
I solve it installing

[code]

before mantra installation and then create a new app by mantra as usual.

[2016-03-19 18:59] merlinstardust commented on #42
To be clear, I'm not trying to create a meteor project first. But I didn't think about how it has to download the latest version first. That would make a lot of sense

[2016-03-19 19:54] andreyantipov commented on #42
I see.

Added a pull request #45 , with changes.
- fixed readme create section
- added verbose warning when meteor is installing
- updated release to rc3

[2016-03-20 00:32] sungwoncho commented on #44
Released [v0.3.6](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#036-march-20-2016) with the fix. Was trying to release with other bug fixes but I have become too busy with other stuff.

_Incidentally, this project needs more maintainers._

[2016-03-20 00:32] #44 closed

[2016-03-20 00:35] sungwoncho commented on #42
@AndreyAntipov is right. If the Meteor release the CLI is using is not found in your machine, `init` stage can take a long time and we need to inform users about that. We will have solved that problem by the time #45 is merged.

[2016-03-20 01:53] merlinstardust commented on #44
Thanks for the quick publish / fix! Much appreciated

[2016-03-23 19:01] newswim commented on #43
it _would_ be nice to have the option.

[2016-03-24 23:11] #40 closed

[2016-03-25 00:16] #41 closed

[2016-03-25 00:51] sungwoncho commented on #12
I have begun writing unit tests in https://github.com/mantrajs/mantra-cli/commit/9085d0f9f9f422624148377d2f466e54cdd2765c. For now I am experimenting with different test directory structure from the one you suggested.

[2016-03-25 00:51] #12 closed

[2016-03-25 01:43] sungwoncho commented on #7
That will work inasmuch as we don't get too opinionated. PR and ideas welcomed.

[2016-03-28 23:07] sungwoncho opened #46 "upgrade to Meteor 1.3"
1.3 is officially out and we need to bump the meteor version.

[2016-03-30 12:27] andreyantipov commented on #46
PR #45 for 1.3

Want to prose idea to create `mantra update` command, which will bring minor updates for project  (meteor-platform and npm dependencies.)

[2016-03-30 12:49] andreyantipov commented on #3
I'd like to propose a fourth way. Create .mantra directory in the root of application and walk.

Pros.
- It's extensible and also allow to add mantra config or something else (for example custom scaffolding templates, for additional coherence logic)
- Like .mantrarc can say that is already mantra project, to avoid possible circumstances
- Walk up the directory until it finds .meteor or .mantra dir

[2016-03-30 13:10] andreyantipov commented on #7
@sungwoncho

How exactly can i help it?

I'd like to participate in this.
Especially to bring some partial cli functionality like it did in Rails

Mantra routing, mantra models..

[2016-03-30 13:18] andreyantipov commented on #43
think publication must be separated and inherit in something major like mantra g model foo which will include collection, publication and possible something on client side.

think like that
mantra g model foo
- collection
- publication
- client resource
- roles & permissions

ann separately

[2016-03-30 13:47] aadrian commented on #7
IMHO Grails did Scaffolding quite well: combination of dynamic and static scaffolding, even at a later time in the project, and also the possibility for the users to modify the scaffolding templates (to fit with the CSS framework/Theme required markup).

This is the main reason we use Grails in so many projects (despite other disadvantages): the productivity gain (even in projects with many iterat

[2016-03-30 22:37] sungwoncho commented on #3
I agree but I am not sure if we need to store any config at this stage. Let's wait and see if there is any need.

[2016-03-30 22:43] sungwoncho commented on #7
Okay I see where we are headed. We have some ideas but they are vague at best. I think we need to brainstorm some examples of commands and their possible outcomes.

e.g.
- `mantra g model users` - generates `Users` collection and publication.

[2016-03-31 08:29] aadrian commented on #7
@sungwoncho see Grails commands for an example (the quick reference):
https://grails.github.io/grails-doc/latest/ref/Command%20Line/Usage.html

[code]

[code]

Might be interesting the distinction between "create" vs "generate":

Create makes an "initial" stub (by no means complete), but based on available info:
e.g.
`create-domain-class mymodel1` will make an empty model.
and another one:
`create

[2016-04-01 23:27] sungwoncho commented on #46
Fixed by https://github.com/mantrajs/mantra-cli/pull/47

[2016-04-01 23:27] #46 closed

[2016-04-04 15:57] #42 closed

[2016-04-11 10:24] mrphu3074 opened #49 "why mantra don't use folder 'imports' ?"
http://guide.meteor.com/v1.3/structure.html#structuring-imports

Meteor 1.3 support folder 'imports' for lazy loading, but Mantra and Mantra CLI still keep files and folders in old structure.

[2016-04-11 22:59] sungwoncho commented on #49
Please see https://github.com/kadirahq/mantra/issues/39. I think the best place for a question is the official forum https://talk.mantrajs.com/. Let's discuss further over there.

[2016-04-11 22:59] #49 closed

[2016-04-12 04:58] sungwoncho opened #50 "method import missing"
`import methods from './methods';` is missing from `server/main.js`

[2016-04-12 05:09] sungwoncho opened #51 "client/[module]/libs missing"
`libs` directory in a module is not generated

[2016-04-12 05:21] sungwoncho opened #52 "if a file exists, index.js should not be updated"
when a file exists, the file is still added to index.js causing duplicate definition.

e.g. method

[2016-04-12 05:22] #32 closed

[2016-04-12 15:12] haizi-zh opened #53 "About the ESLint version"
I've noticed that by default mantra cli created a project with an old-version ESLint:

[code]

I'm wondering if there is a particular reason for which not to use ESLint 2.x?

[2016-04-12 23:42] sungwoncho commented on #53
`package.json` was taken from [Mantra sample blog app](https://github.com/mantrajs/mantra-sample-blog-app/blob/master/package.json). I think we should bump the version and update any deprecated rules in `.eslintrc`. Would you like to help?

[2016-04-13 00:32] sungwoncho opened #54 "Generate local mongo collection"
Add a command to generate a local collection

e.g.

mantra g collection files --local

[code]

[2016-04-13 02:23] haizi-zh commented on #53
That'll be great if we review the rules and make them up-to-date. I'd like to help!

[2016-04-14 02:23] sungwoncho commented on #53
Thanks. Please make a PR when you get a chance.

[2016-04-14 03:28] sungwoncho opened #55 "Snake case the collection name in lib/collections/index.js"
mantra g collection reposToAdd

results in

[code]

in index.js.

The variable's name should be `ReposToAdd`.

[2016-04-17 00:52] #55 closed

[2016-04-17 00:56] #51 closed

[2016-04-17 00:57] #50 closed

[2016-04-17 04:24] sungwoncho opened #57 "constructor should be added to React components"
[code]

should be added to a components generated using `-c` options.

[2016-04-19 16:08] tenrocket commented on #57
Was wondering about this myself.

[2016-04-19 16:22] myyellowshoe opened #59 "Generating components, 2 possible results"
I noticed 2 ways components are built one way depending on how you generate them. I'm still a newb in this area I'll completely admit that, so there might be a perfectly good reason for this discrepancy. If its the case why is that?
Whats the benefit of using one way over the other?

**mantra g component core:messages**

[code]
vs

**mantra g container core:messages**
_Generates container and foll

[2016-04-20 00:01] sungwoncho commented on #59
Contrary to your description, both `mantra g component core:messages` and `mantra g container core:messages` will generate a component looking like the following:

[code]

To generate the component of the first form in your question, you need to use `--use-class` option. See [README](https://github.com/mantrajs/mantra-cli#mantra-generate-type-name).

The distinction between the two types of compon

[2016-04-20 00:03] sungwoncho commented on #59
Please re-open if there is an issue. A good place to discuss Mantra related topics is https://talk.mantrajs.com/.

[2016-04-20 00:03] #59 closed

[2016-04-20 00:04] sungwoncho commented on #57
@tenrocket would you like to do a PR? I think it is as simple as adding those lines to [this file](https://github.com/mantrajs/mantra-cli/blob/master/templates/client/modules/core/components/generic_class.tt).

[2016-04-20 16:07] myyellowshoe commented on #59
Snap. You're right. My bad on that.
Appreciate the link I'll check that out.

[2016-04-21 04:41] srbdev commented on #7
I wonder if this counts as too "opinionated" but consider the following command to easily get up and going for a prototype CRUD application:

[code]

It would create the following:
- the `posts` module under the `client/` folder
- the module would have the `show`, `index` and `form` containers/components
- the module would also have a set of actions for the `create`, `edit` and `delete` methods, w

[2016-04-21 18:28] VikR0001 opened #61 "Error on Generate Collection?"
I ran these commands:

[code]

Everything went perfectly until the last command:

`mantra g collection job_specialties -s collection2`

That command generated the following error:

How can I correct this?

Thanks in advance for the info!

[2016-04-21 23:03] sungwoncho commented on #61
I created a new Mantra app with CLI v0.3.9, ran all the commands in series, but failed to reproduce the error. What version of CLI and Meteor are you using? More information needed.

[2016-04-21 23:45] VikR0001 commented on #61
Interesting.  The project is METEOR@1.3.1, and mantra-cli@0.3.9.

[2016-04-23 01:14] #57 closed

[2016-04-23 04:41] #53 closed

[2016-04-23 04:42] sungwoncho commented on #25
Implemented and released in [v0.3.10](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#0310-april-23-2016)

[2016-04-23 04:42] #25 closed

[2016-04-23 11:55] sakulstra opened #62 "component generation bug on 3.10"
Hello,
when trying to generate a component `mantra g component microphone:core` I get:
[code]
Regards,
Lukas

[2016-04-24 01:55] #62 closed

[2016-04-24 02:00] sungwoncho commented on #62
Happened because apps generated with previous version of CLI does not have tests directories. Fixed in [0.3.11](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#0311-april-24-2016). 👍

[2016-05-01 02:53] sungwoncho opened #63 "`mantra create` should halt when already in a meteor project"
Running `mantra create` should not create another meteor app while already inside a meteor app. Helpful when someone accidentally runs `mantra create` when she really means `mantra generate`.

[2016-05-02 23:34] sungwoncho commented on #61
I just deleted `/lib` from the app and ran `mantra g collection job_specialties -s collection2` to successfully reproduce your error. The problem seems to be that there is no directory for the collection. Did you change the directory structure? Please make sure `/lib/collections` exists in your app.

[2016-05-04 08:19] VikR0001 commented on #61
Makes sense. Thanks very much!

[2016-05-04 08:19] #61 closed

[2016-05-05 03:01] smooJitter opened #64 "mantra is not recognized as an internal command"
I have not clue why this does not work for me.  I install the package as an admin and otherwise but no matter how I approach it I continue to get an error

` 'mantra' is not recognized as an internal or external command, operable program or batch file.`

[2016-05-05 03:16] smooJitter opened #65 "Issues with camelCase names"
When I use camel case names for containers, i end up with underscores instead.

[2016-05-05 03:26] sungwoncho commented on #65
Thanks for the report. All filenames are converted to lowercase with underscores as per Mantra spec. See [this section](https://kadirahq.github.io/mantra/#sec-Source-File-Names). Closing.

[2016-05-05 03:26] #65 closed

[2016-05-05 03:27] sungwoncho commented on #64
Please provide OS and cli version.

[2016-05-05 18:57] VikR0001 commented on #61
That was definitely it. I have started a new project directory for my app, built from the ground up using Mantra-CLI.

[2016-05-08 17:54] smooJitter commented on #64
It works wonderfully on my Mac.  I stopped fulling with it on my Windows 10 machine

[2016-05-08 23:59] sungwoncho commented on #64
As far I as know Mantra-CLI does work on Windows (see [PR](https://github.com/mantrajs/mantra-cli/pull/18)). It might be that `PATH` is not configured on your machine so it cannot find the executable file for the CLI.

[2016-05-20 10:20] PolGuixe opened #67 "Feature request: Astronomy schema"
Would it be possible to add [Astronomy](https://github.com/jagi/meteor-astronomy) as an schema option when generating a collection?

[2016-05-21 02:17] sungwoncho commented on #67
Yes, the schema option is extendable. We can add Astronomy and users will be able to run: `mantra g collection books -s astronomy`.

But I've never used Astronomy. Would you like to do a PR and get the ball rolling?

The relevant parts are: [here](https://github.com/mantrajs/mantra-cli/blob/master/lib/generators/collection.js#L18-L26), [here](https://github.com/mantrajs/mantra-cli/blob/master/lib/

[2016-05-21 13:45] PolGuixe commented on #67
Cool. I'll have a look and I will let you know.

[2016-05-22 03:33] smooJitter opened #68 "Mantra Methods?"
I finally got this to work and I like it, a lot. I'd like to have a tool like this that where I could feed it a schema and out comes a set of Mantra like create, update, and remove methods, for the document and also create, update and remove items from various sub document approaches.

[2016-05-22 23:39] sungwoncho commented on #64
@smooJitter Is it working now? What was the issue?

[2016-05-22 23:42] sungwoncho commented on #68
There are related issues https://github.com/mantrajs/mantra-cli/issues/43 and https://github.com/mantrajs/mantra-cli/issues/7. Feel free to join the discussion and PR is welcomed.

[2016-05-24 14:29] mbabauer opened #69 "Set tab sizes"
Is there a way to configure mantra-cli to set the desired tab sizes?  It defaults to 2 spaces, but I prefer 4 spaces.

[2016-05-24 15:22] mbabauer commented on #67
I was looking at what it would take to implement Astronomy as well, but I don't think it was so simple.  The problem is that Collections2 and SimpleSchema seem to work by adding a `transform()` to the Collection, whereas Astronomy seems to create a Class that references your Collection.

For instance, a typical Astronomy setup might look like:

[code]

So, you need to know both the class name and

[2016-05-25 11:01] sungwoncho commented on #69
Currently there is no way to configure the behavior of the CLI. There has been a discussion on introducing `.mantrarc` or `.mantra` directory for custom behavior. See [here](https://github.com/mantrajs/mantra-cli/issues/3#issuecomment-203417110). What do you think?

[2016-05-25 12:07] mbabauer commented on #3
I can definitely see a need to allow people to configure the output.  For instance, I prefer 2-space tabs, and have my editor set to that.  Actually, it was already set to that as the default, as was ESLint.  So, every time I create a new artifact I have to manually fix all the tabs.  thankfully I have found some plugins to make it easier, but it's still a manual step I must perform each and every

[2016-05-25 12:09] mbabauer commented on #69
I made a comment over on the other ticket.  I think having a .rc of config folder is a wonderful idea.

[2016-05-29 02:09] sungwoncho commented on #69
I started working on configuration on [config](https://github.com/mantrajs/mantra-cli/tree/config) branch.

The idea is to generate `.mantra/config.json` when a new app is created. Currently `config.json` is:

[code]

Before we write a template, we replace spaces according to the `tabSpace` in the config. ([here](https://github.com/mantrajs/mantra-cli/commit/bd3233a28e71fb4d468a29145f459711a23f202

[2016-05-31 22:44] PolGuixe commented on #67
@mbabauer you are right. You need to define both the name of the class and the name of collection. But as you creation the collection and the class at the same time, you can follow this convention:
- Collection name in plural e.g. Items
- Class name in singular e.g. Item

Then the code that needs to be inserted can look like:

[code]

[2016-06-01 07:48] PolGuixe commented on #67
@sungwoncho could you have a lot at [this commit ](https://github.com/Zetoff/mantra-cli/commit/4a6f3f776d2129dfc308293ff738778ed7b20ca0). I think that I am not missing anything. If it is ok for you I'll create a PR.

[2016-06-01 09:28] sungwoncho commented on #67
@PolGuixe  Looks good. I commented on [this line](https://github.com/Zetoff/mantra-cli/commit/4a6f3f776d2129dfc308293ff738778ed7b20ca0#diff-a154dfc9a20b2e49e7bef49887c05d7dR123).

[2016-06-02 16:34] PolGuixe commented on #67
@sungwoncho cool. I have made the changes in this [commit](https://github.com/Zetoff/mantra-cli/commit/dc33cd7c89d5c35e252849f86f75957ddc3f186b). Although I am not sure I have used the right way import inflect with ES6.

[2016-06-04 00:00] sungwoncho commented on #67
@PolGuixe let's make a PR and we will test it.

[2016-06-06 14:27] PolGuixe commented on #67
PR added.

[2016-06-06 23:12] sungwoncho commented on #67
I will test by this weekend. @mbabauer feel free to test it if you have time

[2016-06-08 13:54] macrozone opened #71 "Team up with mantra-atom-package"
The mantra-atom-package is very convenient and also generates stubs for components, tests, stories, etc.

But it does not generate the same code as mantra-cli. Also teams that have atom- and non-atom-users would love to have the exact same code-generators and may even share configs.

So it would make sense that the atom-package and mantra-cli use the same templates or even use the same shared code

[2016-06-08 23:00] sungwoncho commented on #71
I've been working on `config` branch [here](https://github.com/mantrajs/mantra-cli/tree/config). Once released, this branch will allow users to customize templates. See [this comment](https://talk.mantrajs.com/t/do-we-have-to-use-the-mantra-generated-eslintrc/178/3?u=sungwoncho).

We can make the default templates the same for both CLI and Atom package. We can even share configuration. What do you

[2016-06-08 23:01] sungwoncho opened #72 "storybook support"
I'm wondering if the community needs React Storybook support. Let's discuss here.

[2016-06-08 23:18] tomitrescak commented on #71
@sungwoncho I got all the configurations working for multiple languages. It's based on yaml files. You can basically omit the part with "pane" configuration and the rest will work straight out of the box.

[2016-06-10 09:13] macrozone commented on #72
adding the storybook adds a small amount of boiler (e.g. register the story in the storybook-config), so it would be really nice to have cli-support for it.

The easier to use, the more people will use it. :-)

btw. the mantra atom package already generates stubs for the storybook.

[2016-06-11 01:23] sungwoncho commented on #64
ping @smooJitter

[2016-06-11 02:15] sungwoncho commented on #67
@PolGuixe I published a release candidate. Can you test v0.3.13-rc.2?

[2016-06-11 13:45] PolGuixe commented on #67
@sungwoncho where I can find v0.3.13-rc.2? I can just see till v0.3.13-rc.1. Is the astronomy branch?

[2016-06-11 13:46] sungwoncho commented on #67
@PolGuixe It's released on npm. On master branch.

[2016-06-11 13:59] PolGuixe commented on #67
@sungwoncho on npm I can only se v0.3.**12**-rc2. ~~Using this version and running `mantra g collection books -s astronomy` it doesn't work properly. It just creates a standard collection without any type of schema.~~
Edit: I didn't installed v0.3.12-rc2 properly. Once installed it works as expected and generates the collection and the basic schema.

[2016-06-12 02:36] sungwoncho commented on #67
Released [0.3.13](https://github.com/mantrajs/mantra-cli/blob/master/RELEASE_NOTE.md#0313-june-12-2016). Good work.

[2016-06-12 02:36] #67 closed

[2016-06-12 04:33] sungwoncho opened #74 "configure eslint"
this project lacks a good eslint setup. We need one.

[2016-06-14 18:16] fermuch opened #75 "should throw an error if the component name is invalid"
I accidentally wrote this:

[code]

It should throw an error instead of creating files without a name.

[2016-06-15 10:56] palpinter opened #77 "Unable to resolve some modules"
After fresh install I've received th following message:

[code]

Steps to reproduce:

mantra c testapp
cd testapp
meteor

from other console:
mantra g collection testcoll

After remove 'undefined' from /lib/collections/index.js the result same.

Thx
Pal

[2016-06-15 11:42] sungwoncho commented on #75
To get names for module and entity, we use this code: `let [moduleName, entityName] = name.split(':');` (see [here](https://github.com/mantrajs/mantra-cli/blob/master/lib/generators/component.js#L7)).

I have a suggestion: we can do length check on `name.split(':')` and return false while validating. https://github.com/mantrajs/mantra-cli/blob/master/lib/commands/generate.js#L32-L45

Would you lik

[2016-06-15 11:45] sungwoncho commented on #77
Looks like a bug in the release candidate for 0.4.0. Use [0.3.13](https://github.com/mantrajs/mantra-cli/releases/tag/v0.3.13) in the meantime.

[2016-06-15 11:45] palpinter commented on #77
OK, thx.

[2016-06-15 12:21] palpinter commented on #77
Sorry, but result is same with 0.3.13

[code]

Maybe caused by meteor 1.3.3?

[2016-06-15 14:31] palpinter commented on #77
The problem probably on my side. I've tried code generation on my other computer, and everything works as expected. I have  to debug it.

[2016-06-15 14:49] macrozone commented on #77
Problem is with meteor 1.3.3. Absolute path no longer seem to work.

Changing the import in client/configs/context.js

from `import * as Collections from '/lib/collections';`

to `import * as Collections from '../../lib/collections';`

resolves the issue.

I do not know if this is a regression or intended.

[2016-06-15 15:44] palpinter commented on #77
Unfortunetely you should do it in all file where collections imported.

[2016-06-26 05:08] #75 closed

[2016-06-26 05:18] sungwoncho commented on #77
@palpinter Updating `bebel-root-slash-import` will resolve the issue. See [here](https://talk.mantrajs.com/t/meteor-1-3-3-and-imports/360/8?u=sungwoncho). Can you check?

[2016-06-26 05:18] sungwoncho commented on #64
Closing due to inactivity.

[2016-06-26 05:18] #64 closed

[2016-06-26 08:31] janikvonrotz opened #81 "create command app not working"
hey there, I've just tried to build an app with the create command. However, running the code nothing more than this happens:

[code]

the root folder is created without content.

If possible I would like to debug this and help with solving this issue as I really like this tool.

Did I miss something? Do other experience the same issue?

Also I'm using windows, I assume this can be a problem.

[2016-06-26 08:47] janikvonrotz commented on #81
Problem solved:

[code]

needed a qualified path: https://github.com/shelljs/shelljs/issues/41

[2016-06-26 08:59] #81 closed

[2016-06-27 13:15] macrozone opened #82 "when creating an app generate module core should be invoked"
`mantra create app` creates the nessesary files plus the core module. However, it does not use the code that normally generates a module. Instead, it has duplicated code that sets up the core module.

refactoring the create command to use `generate module` would help further improvements of the cli.

[2016-06-27 13:33] macrozone commented on #71
I think using mantra-cli in atom-package would be the best solution.

We may need to generate more entities with different options in the future, and it makes little sense to maintain two code-bases that do almost the same.

Code-generators and scaffolding will be key-element for the success of mantra and i think it needs much more attention

[2016-06-28 11:42] sungwoncho commented on #71
@macrozone I think that is one way to solve a problem. But @tomitrescak has been working on atom-package and I am not sure how he feels about such a drastic change. Alternatively there could be an overarching 'mantra-generator' that both CLI, and atom-package can make use of. But that might overly complicate things.

We also have to unify the customization option. In 0.4.0, we will have `mantra_cl

[2016-06-28 17:41] tomitrescak commented on #71
Guys, I'm absolutely fine with using CLI as the base generator, my problem currently is that for about a month I'm out on conference trips and won't have much time to take care of it. If there is anyone that can produce a PR would be great, otherwise the ETA from my part would be sometime in August.

Yet, since CLI is a node package, it should be pretty straightforward to implement this, using CLI

[2016-06-28 22:13] macrozone commented on #71
@sungwoncho sounds like a good roadmap to start with unifying customization.

@tomitrescak no hurry 👍 I think unifying the configuration and templates is a good next step. I'll try to help with it. And thanks for your work so far, the atom package is damn cool

Edit: the configs of the the atom-plugin look pretty powerful already, we might consider use that also in mantra-cli

[2016-06-29 10:14] ThomsCass opened #83 "Error on android device"
Hi,

I'm using mantra with meteor 1.3.2.4

When I start my app on the web everything works perfectly.

When I try on android

`meteor run android-device`

Here are the errors I got :

[code]

I looked in all my `routes.jsx` files and saw no routes define with nothing..

Here is my package.json

[code]

Do you guys have an idea on what's is going on ?

Thanks

[2016-06-29 15:39] ThomsCass commented on #83
I had no use of routing in one of my module. So I didn't have the routes.jsx. Just adding a routes.jsx empty file did the trick.

[2016-06-29 15:39] #83 closed

[2016-06-30 10:34] sungwoncho opened #84 "Add Roadmap"
Add roadmap with short-term and long-term goals of the project

[2016-06-30 21:36] macrozone commented on #84
maybe we do something like https://github.com/meteor/meteor/blob/devel/Roadmap.md

but i think a section in the readme would be enough to start with

[2016-06-30 21:45] macrozone opened #85 "Add support for react native"
It would be cool to be able to generate react-native apps in the future.

maybe `mantra create-native myapp`

We need new templates for this. To make this task easier, we probably should refactor the code-generators more, so that it's easier to reason about which files should be created when generating a project or entity

[2016-07-01 09:41] THPubs opened #86 "Any plans to support Redux and GraphQL?"
It would be really nice if you can cook Redux and GraphQL support into mantra-cli. We can define them in the config file right?

[2016-07-03 09:34] sungwoncho commented on #86
I haven't used Redux or GraphQL with Meteor projects, so I can't personally say that we could or couldn't support them in mantra-cli. But the cli should be configurable, and it'd be nice to support them optionally via config file.

[2016-07-03 10:50] THPubs commented on #86
Ah no issue. I'm planning to use them soon. Will try to add them to mantra-cli while I do that. Have a lot to learn :-)

[2016-07-13 23:06] #72 closed

[2016-07-14 11:22] macrozone opened #87 "Defining template for component overrides component-test"
If you specify a template for a component in the yaml-config, it will generate a test with the same content as the component.

(0.4 rc-02)

[2016-07-14 11:24] macrozone commented on #86
I think you just need to customize the containers, which is already possible with mantra-cli.

You can specify your container-template that uses redux or apollo.

Maybe check if you need additional files that are not yet generated with mantra-cli

[2016-07-18 08:56] jadus opened #89 "Object has no method 'repeat'"
Hi
I'm trying to use mantra-cli but I get a "Object   has no method 'repeat'" error when using the generate command. Any idea why ?

[2016-07-20 02:55] sungwoncho commented on #89
Need steps to reproduce, CLI version, node version, OS.

For the time being, I think you can downgrade to `0.3.x` to fix the issue.

[2016-07-22 09:54] darkship commented on #86
I'm interested in Redux and GraphQL too.
BTW there is already a thread about Redux : https://github.com/kadirahq/mantra/issues/81

[2016-07-25 22:43] jadus commented on #89
{ npm: '3.9.5',
  ares: '1.9.0-DEV',
  http_parser: '1.0',
  modules: '11',
  node: '0.10.35',
  openssl: '1.0.1j',
  uv: '0.10.30',
  v8: '3.14.5.9',
  zlib: '1.2.8' }

Mantra :  0.4.0-rc.3

MacOS 10.9.5

Thanks !

[2016-07-27 10:10] PolGuixe opened #90 "Feature Request: rename"
It would be handy to have a possibility to rename certain modules, containers, components, etc.
Doing it manually tends to produce human errors :)

[2016-07-28 10:16] sungwoncho commented on #90
There were definitely moments when I thought such feature would be useful. I suppose we can add
a command:

[code]

For each types, we will need to change:
- containers - rename container, component, test
- component - rename component, test
- collection - rename collection, change variables in `/collections/index.js`
- method - rename method, change variables in `/methods/index.js`
- module - ren

[2016-07-30 03:27] PolGuixe commented on #90
Let me know if you need help implementing it or testing it

[2016-08-14 15:52] techbos commented on #64
I ran into the same issue. What is mantra-cli's path that I need to include in Windows's PATH?

[2016-08-16 03:27] sungwoncho commented on #64
You should include in your path whichever directory you use to install npm package. Otherwise your shell cannot find the command. This is not likely an issue with mantra-cli.

[2016-08-22 23:59] kjetilge opened #91 "CLI deleted all my modules!"
I accidentally hit the enter button when the terminal showed this:
[code]
Then all my modules disappeared!

[2016-08-23 04:24] sungwoncho commented on #91
Wow. That sounds like a serious bug. Hope you didn't lose much work. I will investigate this weekend. Meanwhile, @macrozone do you have any clues?

[2016-08-25 15:13] srbdev opened #92 "Generating publications/methods and collections issue"
Using Meteor 1.3.x, when creating a collection and then creating its respective publication and methods, Meteor crashes when running the server with an "Unable to resolve some modules:" error. The generated import is:

[code]

but it needs to be modified to the following for the error to go away:

[code]

[2016-09-09 08:57] macrozone commented on #92
Hi @srbdev I think you have to add the babel-root-slash-import plugin to your babelrc:

[code]

then, it can resolve imports that begin with "/" and are relative to your app-root

[2016-09-09 09:18] macrozone commented on #91
@sungwoncho: i fixed it in a PR, but i did not made a release. Could you review the to PRs and make a new release?

[2016-09-09 09:20] macrozone commented on #90
This would be indeed very handy, though, its not completly trivial. Maybe we should start with renaming all files and imports (that's the easy part). Changing variable names is more tricky, as @sungwoncho  stated.

[2016-09-09 20:27] srbdev commented on #92
@macrozone I already have the entry in my .babelrc and the issue is still happening

[2016-09-09 23:19] sungwoncho commented on #92
@srbdev are you using the latest version of `babel-root-slash-import`? See https://talk.mantrajs.com/t/meteor-1-3-3-and-imports/360/7

[2016-09-09 23:33] #87 closed

[2016-09-09 23:48] #91 closed

[2016-09-10 00:28] sungwoncho commented on #91
Released the fix in `0.4.0`. Thanks everyone.

[2016-09-10 00:49] sungwoncho commented on #89
How can I reproduce it?

[2016-09-11 21:26] philohelp opened #94 "Install error with V0.4.0 : Cannot find module '../utils'"
[code]

I had to downgrade to 0.4.0-rc.4 then everything works again.

[2016-09-12 06:09] terry-fei commented on #94
me too

[2016-09-12 20:44] darkship commented on #94
In cli.js
<code>import {readConfig} from '../utils';</code> should be <code>import {readConfig} from './utils';</code>

[2016-09-12 22:55] sungwoncho commented on #94
@darkship could you do a PR?

[2016-09-13 01:03] ghost commented on #94
Hi @sungwoncho , I created a PR for this one. Thanks.

[2016-09-13 01:55] sungwoncho commented on #94
Fixed with #95. Released in `0.4.1`.

[2016-09-13 01:55] #94 closed

[2016-09-20 10:37] THPubs opened #97 "Cannot install mantra-cli 0.4.1. It gives a babel: not found error"
Hi, I tried to install mantra-cli in a new system and it gave me the following error :

	λ npm install -g mantra-cli

	sh: 1: babel: not found

	npm ERR! Linux 4.4.0-38-generic
	npm ERR! argv "/home/pubudu/.nvm/versions/node/v6.6.0/bin/node" "/home/pubudu/.nvm/versions/node/v6.6.0/bin/npm" "run-script" "compile"
	npm ERR! node v6.6.0
	npm ERR! npm  v3.10.3
	npm ERR! file sh
	npm ERR! code ELIFECYC

[2016-09-20 10:39] THPubs commented on #97
After installing `0.4.0` I was able to update to `0.4.1` without a issue.

[2016-09-29 13:04] kjetilge opened #100 "How do we generate stories now ?"
How do we generate stories now ?

[2016-09-30 23:33] sungwoncho commented on #100
You can add `storybook: true` to your `mantra_cli.yaml`. Could you make a PR and document this?

[2016-10-01 06:00] #100 closed

[2016-10-04 08:22] palpinter opened #102 "mantra c -s 'error: unknown option `-s''"
Hi,

reproduce the problem
[code]

after that

`mantra c --verbose --storybook  adjkiraly-mantra`
or
` mantra c -v -s  adjkiraly-mantra`
gives error:
`error: unknown option `-s'`

without -s option everything works as expected

Any idea?

thx
palpinter

[2016-10-04 12:32] palpinter commented on #102
Caused by wrong mantra-cli version. I dont know why, but previous version not removed.

Closed.

[2016-10-04 12:32] #102 closed

[2016-10-07 22:19] #52 closed

[2016-10-17 06:15] oracle000 commented on #90
+1 for this. Renaming component, container or other types would be a great feature

[2016-10-18 16:56] thancock20 commented on #63
So, adding the following code to the top of the create function would work if you try to run `mantra create` in the root directory of the project:

[code]

Would this be good enough? At least until there's a solution to #3?

[2016-10-19 01:57] sungwoncho commented on #63
That seems like a good start. PR welcomed.

[2016-10-20 01:21] babenzele opened #104 "Change default component extension"
It appears the `.jsx` extension is hard coded in:

https://github.com/mantrajs/mantra-cli/blob/255405efd4a680498b2e03df16fdb82b7bb165fb/lib/generators/utils.js#L26

Are there any plans to enable the user to generate components with a `.js` extension, like in the mantra sample blog app?

[2016-10-21 03:48] sungwoncho commented on #104
Yeah. this is doable. [Here](https://github.com/mantrajs/mantra-cli/blob/master/lib/generators/utils.js#L24-L34) is how we are getting the extensions currently.

We can make a function that takes user config (read from `mantra-cli.yml`) and entity type (action, components, etc.) and conditionally outputs extensions. PR is welcomed.

[2016-10-21 04:04] sungwoncho commented on #89
Caused because node 0.10.x does not have `String.prototype.repeat`. Fixed in https://github.com/mantrajs/mantra-cli/commit/09ba433d9f7be6578c5347e8f96702f924714c46.

[2016-10-21 04:04] #89 closed

[2016-10-21 04:06] sungwoncho commented on #97
Closing this for now. Please re-open if it occurs again.

[2016-10-21 04:06] #97 closed

[2016-10-21 04:07] sungwoncho opened #106 "source map"
The stack trace refers to the compiled code and it is hard to debug. It will be good to have a source map.

[2016-10-21 04:07] #63 closed

[2016-10-21 04:08] sungwoncho commented on #63
Fixed in #103.

[2016-10-21 09:24] THPubs commented on #97
Perfect! I might need to do a fresh install soon. I'll let you know if the error appear again.

[2016-10-27 03:19] tim-phillips commented on #104
Great! I'll take a crack at it. I'll let you know here if I have any questions.

[2016-11-02 03:37] Cyval opened #107 "Failed creating a mantra app"
Hi,

Whenever I attempt to create an app using mantra-cli, I receive this error

    /home/immanuelv/.meteor/packages/meteor-
    tool/.1.4.1_1.1ku1jsk++os.linux.x86_64+web.browser+web.cordova/mt-
    os.linux.x86_64/dev_bundle/lib/node_modules/meteor-promise/promise_server.js:165
      throw error;
      ^

    Error: ENOENT: no such file or directory, open '/tmp/mt-14fuwx3/os.json'
     at Error

[2016-11-02 05:16] sungwoncho commented on #107
Please share cli version, node version, os, steps to reproduce.

[2016-11-02 05:42] ghost commented on #107
Update:

`mantra-cli` version: 0.4.4
`node` version: v6.0.0
OS: Linux Ubuntu 14.04

Steps involve simple changing of directory and creating a mantra app. In my case,

`cd Documents/projects`
`mantra create charts-app`

[2016-11-07 03:30] sungwoncho commented on #107
I failed to reproduce the issue with the same environment. I was using Meteor 1.3.1.
Your error seems to come from meteor itself. Any ideas?

[2016-12-05 18:54] StorytellerCZ commented on #74
Just to clarify, are you referring to `mantra-cli` or projects created by it?

[2016-12-05 19:00] StorytellerCZ opened #110 "[new feature] Add option to choose react-router"
I wrote an [article](https://medium.com/@Storyteller_cz/meteor-mantra-with-react-router-393debbe849f) about how to replace Flow Router with react-router in Mantra. It is pretty easy.

Given that Arunoda has left the community and his suggestion to use react-router anyway, I think we should provide the option of creating Mantra app with react-router like we do with Storybooks.

This will impact the

[2016-12-05 22:34] sungwoncho commented on #74
@StorytellerCZ Sorry for the confusion. Edited the issue.

[2016-12-05 22:42] sungwoncho commented on #110
Sounds like an important feature. Some ideas:

`mantra create --react-router` to create a new app with react router and save `router: react-router` to `mantra_cli.yaml`.

[2016-12-06 21:37] StorytellerCZ commented on #74
AirBnB seems to be the preferred style, I think that might be a good starting point, but that might be quiet contentious debate.
Personally I think we should add some very specific rules to begin with might be the good idea (like spacing, camel case, max line length).

[2016-12-06 21:39] StorytellerCZ commented on #84
So what are those goals?

I think #110 and similar should be included in short term goals. Long term goals can be a bit more ambiguous.

Apollo integration should be probably added as well, since it doesn't look like we won't have official integration for a bit, but there are some resources we can tap into: http://dev.apollodata.com/core/#Meteor-Examples

Other features that come to mind:
#85 Reac

[2016-12-06 21:54] sungwoncho commented on #74
I would prefer simply enforcing airbnb config and leaving no room for style debate in the future.

[2016-12-09 00:22] StorytellerCZ commented on #106
This seems to be something that might be tackled in Meteor soon (according to the debate on the Meteor Forums), is there anything we need to do specifically for Mantra?

[2017-02-07 16:41] macrozone opened #111 "[Feature] make tests optional"
in my current project, we do snapshot tests with https://github.com/storybooks/storyshots
and acceptance-tests (with chimp).

We therefore forgo typical unit tests of components.

it would be cool to be able to configure whether these tests should be created or not

[2017-02-09 08:35] sungwoncho commented on #111
The feature makes sense. 👍

[2017-02-09 10:13] macrozone commented on #107
@Cyval see https://github.com/meteor/meteor/issues/7806

[2017-02-09 10:15] macrozone opened #113 "[Code style] container generator should use component generator"
Just something small i noticed, but i did not attemp to fix it yet:

generateContainer should import generateComponent
and destroyContainer should import destroyComponent,

currently its duplicated code.

[2017-02-09 10:19] macrozone commented on #69
I think this is resolved with the mantra-cli.yaml ?

[2017-02-10 06:44] sungwoncho commented on #69
@macrozone you are right. Closing.

[2017-02-10 06:44] #69 closed

[2017-02-24 22:40] #111 closed

[2017-03-10 13:29] macrozone opened #114 "skip creation of routes"
I usually only use routes in core, because having routes in multiple modules may lead to re-renderings (see https://github.com/mantrajs/mantra-core/issues/9),
so it would be cool to just be able to disable route generation in other modules than core (maybe via setting)

[2017-03-10 23:08] sungwoncho commented on #114
That's fair. Do you have plans for how to implement it?

[2017-03-13 11:02] macrozone commented on #114
hmm...

- [ ] config `createRoutesOnModules: true/false`
- [ ] do not create route file when createRoutesOnModules is false (if its not core module, i think we should always create it)
- [ ] verfiy that the module index file does not import the route file when createRoutesOnModules is false

[2017-03-14 08:58] sungwoncho commented on #114
that makes sense. Feel free to open a PR and I will review it before we release.

[2017-03-15 09:41] StorytellerCZ commented on #114
This would also help with React-router as routes for rr are only in core.

[2017-03-15 10:04] macrozone opened #115 "BUG: imports of stories in .stories/index.js are not removed when component is destroyed"
when invoking `mantra d component core:foo`

mantra-cli should remove import Foo from './foo' from `/client/modules/core/components/.stories/index.js`

[2017-04-01 07:46] smooJitter opened #116 "Customizing"
## Summary of the issue
Is it posible to use .yml to customize file structure of a generated module?
## Steps to reproduce

1. step 1
2. step 2
3. ...

## Environment in which this issue happens

1. CLI version:
2. node.js version:
3. Operating system:

[2017-04-03 14:42] macrozone opened #117 "[Feature] customize module-folder"
for the upcoming meteor 1.5 we might need to move files in /imports to embrace lazy-loading.

solution would be a configurable modules-folder:

default: /client/modules
custom: /imports/mantra-modules/ (example)

entry point would still be client/main.js

[2017-04-03 17:05] smooJitter commented on #117
Well I recall the orginator of Mantra saying, Mantra already caputes the efficientcies of lazy loading.  I really miss this initiative.  I've been playing around with internals a little. They're a few caveats that I'd love to hear more about; for instance, what othe usecases did they imagine for the module.load() feature. Is it acceptable to modify the context (in a pure way).  to modify the conte

[2017-04-03 17:12] macrozone commented on #117
true, i also thought about what to do with module.load. But i think lazy loading and module.load do not work well together at the moment, also because flow-router (and maybe react-router as well) do not support dynamic added routes.

however, the best way of using lazy loading is in the routes-action at the moment. So if a route is called, lazy load the component there.

adding lazy loaded stuff t

[2017-04-13 12:33] kmhigashioka commented on #86
Hi. I actually created a redux version of this. Of course it is inspired by this cli. :) https://github.com/kazupooot/overreact

[2017-05-15 14:12] #117 closed

[2017-06-13 13:51] macrozone commented on #116
hi @smooJitter sorry for the late answer,

what exactly do you want to customize?

I already customized the modules-directory so that you can use meteor 1.5. lazy loading.

I now want to also make the libs folder more customizable

[2017-06-20 14:59] vladejs commented on #116
@macrozone , In what version of mantra-cli was added the changes for meteor 1.5?

[2017-06-21 07:38] macrozone commented on #116
@vladejs mantra cli 0.5.1.

configure `modulesPath: imports/modules`

I now updated RELEASE_NOTE.md, sorry for that.

[2017-06-21 23:41] vladejs opened #119 "Why the Mantra CLI generator says "Welcome to Mantra 0.4.2." ?"
## Summary of the issue
As I understand from the main repo, Mantra stopped on 0.2.0. Does it really got update to 0.4.2? Where are the changes?

## Steps to reproduce

1. step 1
2. step 2
3. ...

## Environment in which this issue happens

1. CLI version:
2. node.js version:
3. Operating system:

[2017-06-22 00:08] vladejs commented on #116
thanks @macrozone . I created a project today with the following structure:
[code]
I don't understand how I would benefit from Meteor 1.5 dynamic imports, if the `main.js` file imports and bootstrap every module the app has.

Could you point me on the right direction here?

I am also trying to update the project to use latest mobx, [mobdux](https://medium.com/@cameronfletcher92/mobdux-combining-th

[2017-06-22 05:59] macrozone commented on #119
Probably i did a misstake with the release script. I will take a look later this day

[2017-07-15 20:32] vladejs commented on #116
@macrozone , there is some work to do here.
Currently I can set `modulesPath` variable, but when I create a component/container, tests are still being created under `/client/modules/...` instead of `/client/imports/modules/...`

[2017-07-18 03:00] smooJitter commented on #116
The customizations were really necessary. When I generate a new module, I like to have it pre-populated with a standard set of components and associated containers and actions ( EntityList, EntityDetail, EntityNew, EntityEditor, and EntityFilters for components. CRUD from actions).  where Entity corresponds (mostly) the moduleName. I've done a little hacking to figure it out.

I really do miss the

[2017-07-18 15:14] vladejs commented on #116
Hi @smooJitter.
It's a shame indeed, that this wonderful architecture get abandoned by the
community.

I truly believe that Mantra could be adapted to keep up with the latest
technologies out there. If you are interested, I upgraded Mantra to be used
with this stack:

- MobX 3.0
- Meteor 1.5+

​I modified mantra-core by removing old react-komposer 1.x and included
Mobdux, a thiny wrapper for mobx-

[2017-07-19 00:10] sungwoncho commented on #116
@smooJitter I sympathize with your concern. As a maintainer of this CLI, I am sad to see Mantra being abandoned. While I would like to see a continued development, I have been using neither Mantra or Meteor for more than a year, and I am not in a suitable position to lead or contribute to the framework.

I agree that Mantra is a solid specification and has potential. Therefore, in the meantime, I

[2017-07-20 23:15] #119 closed

[2017-07-20 23:16] sungwoncho commented on #119
I have removed the version info from the default home page.

[2017-07-24 10:15] macrozone commented on #116
@vladejs ok, can you open an issue? should also not be too hard to fix. PR welcome

[2017-07-24 15:28] vladejs opened #120 "Change the tests path if the modules folder is customized"
Currently I can set modulesPath variable to any location, for example: `/client/imports/modules/`, but when I create a component/container, tests are still being created under `/client/modules/`.

Tests should always follow the path of modules folder. The ideal scenario is to enable another setting on `mantra-cli.yml`:

testsPath = testsPath || modulesPaths.

That way, if I set a `testsPath` setti

[2017-07-24 15:32] vladejs opened #121 "Use the new storybooks/react package when generating a new project"
Storybooks is now led by the community, and packages has changed from `@kadira/storybook` to `@storybooks/react`.

Allow mantra-cli generate correct configurations of the new Storybooks when scaffolding a new project

https://storybook.js.org/

[2017-07-24 21:56] smooJitter commented on #116
That's the beauty of Mantra.  There isn't much too it. There isn't a lot to maintain.  The only thing @arunoda vision of where he saw it going, and what constraints he was concerned about.  I simple Medium article, thats it.  I don't know how much I could contribute but I would be willing to have some dialogue about various issues.  I think it would be best to have the discussion via Meteor Forums

[2017-08-16 15:11] macrozone commented on #116
@smooJitter Supporting redux and graphql is partly supported with mantra-cli, at least you can define templates for your containers that have the basic boiler-plate (add connect and graphql hocs).

@remolueoend, me and others in my company are currently using mantra-cli (havily) in redux/apollo/react-native projects and we think about how we can make it easier to scaffold actions and reducers. The

[2017-08-16 15:16] macrozone commented on #8
mantra-cli is also useful in non-meteor project, so i think this feature has little value.

[2017-08-16 15:16] #8 closed

[2017-08-16 15:16] #22 closed

[2017-08-16 15:17] macrozone commented on #26
@roberto68  is this still an issue? reopen if so!

[2017-08-16 15:17] #26 closed

[2017-08-16 15:20] macrozone commented on #74
I think it woud be best if we have a config that can be used while creating new apps. This config could be share amongst your co-workers. The config could also contain what will be added to your project-specific  mantra_cli.yaml.

[2017-11-10 18:45] macrozone commented on #121
@vladejs I think it would be better to remove the functionality of mantra-cli to create new projects altogether and focus more on generating new entities.

[2017-11-10 19:50] vladejs commented on #121
Sorry @macrozone ,
Don't understand what you mean.

[2017-11-10 21:17] macrozone commented on #121
@vladejs The issue that you are describing is only valid when creating new projects.. mantra-cli can be used to create new (meteor) projects, but its hard to maintain that functionality.

on the other hand, on existing apps you can use mantra-cli even without meteor (e.g. with react-native) and with newer versions of storybook

to add storybook to a new project, there is a command line util from s

[2017-11-10 21:52] vladejs commented on #121
Thanks for your detailed explanation @macrozone , I understood.

In other topic. do you know any CRUD solution built with mantra specific to React and Meteor apps?
I'm looking for some standard functionalities:
- crud for users and roles
- crud for any collection based in config
- bootstrap UI

It would be great to have generic modules that creates cruds using modern libraries lilke `uniforms`